@model Lab18ConsumeApi.Models.ListsViewModel

<div class="wrapper">
    <h1>List: @Model.List.Name</h1>
    <form asp-action="Update" asp-route-id="@Model.List.ID">
        <table>
            <tr>
                <td>
                    <label asp-for="List.Name">Name</label>
                </td>
                <td>
                    <input asp-for="List.Name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="List.IsDone">Is it done?</label>
                </td>
                <td>
                    <input type="checkbox" asp-for="List.IsDone" />
                </td>
            </tr>
        </table>
        <button type="submit">Update list</button>
        <button asp-action="Delete" formmethod="get" asp-route-id="@Model.List.ID">Delete list</button>
        <a asp-controller="Home" asp-action="Index">return to lists</a>
    </form>
    <h2 style="display:block">Current Tasks in this list</h2>
    <table>
        @foreach (var item in Model.List.ToDoItems)
        {
            <tr>
                <td><h3>Task:</h3> @item.Name</td>
                <td><h3>Done:</h3> @item.IsDone</td>
            </tr>
        }
    </table>
</div>